[submodule "pico-sdk"]
    path = pico-sdk
    url = "https://github.com/raspberrypi/pico-sdk.git"

[submodule "pc-src/capnp-proto"]
    path = pc-src/capnp-proto
    url = "https://github.com/hydrogreenpollub/capnp-proto.git"